
 nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size:0;
	font-family:Ramona;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 140px;
}
a:nth-child(5) {
	width: 140px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
.carousel {    position: relative;
    width: 100%;    height: 40vh; 
    overflow: hidden;}
.carousel-images {
    display: flex;    transition: transform 0.5s ease;
}
.carousel-image {
    min-width: 100%;    height: 100vh;
    object-fit: cover;}
button.prev, button.next {
    position: absolute;    top: 50%;
    transform: translateY(-50%);    background-color: rgba(0, 0, 0, 0.5);
    color: white;    border: none;
    cursor: pointer;    padding: 10px;
    z-index: 100;}

button.prev { left: 10px; }
button.next { right: 10px; }
#header{
	font-size:24px;
margin-top:30px;
padding-left:70px;
}
#main{padding-top:100px;
background-color:rgba(188, 174, 174, 0.8);
}
p{font-size:24px;
padding-left:50px;
font-family:Ramona;
}
ul{font-size:24px;
padding-left:50px;
font-family:Ramona;
}
#podval{background-color:rgba(188, 174, 174, 0.8);
}
body{background-image:url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614592504_86-p-fon-beloi-komnati-102.jpg");
background-attachment:fixed;
}
h1{font-family:Ramona;
color:FireBrick;
}
h4{font-family:Ramona;
}
h2{font-family:Ramona;
color:FireBrick;
padding:15px;
}`



